{{ 'appmate-wishlist-king.scss.css' | asset_url | stylesheet_tag }}

<script type="text/javascript">
;(function(){
  if (typeof Appmate === 'undefined') return; // In case lib didn't load.

  Appmate.wk.on({
    'click [data-wk-add-product]': function(event){
      var product = this.getAttribute('data-wk-add-product');
      var variant = $(this).parents('form').find('select[name="id"]').val();
      Appmate.wk.addProduct(product, variant);
      event.preventDefault();
    },
    'click [data-wk-remove-product]': function(event){
      var product = this.getAttribute('data-wk-remove-product');
      Appmate.wk.removeProduct(product);
      event.preventDefault();
    },
    'click [data-wk-remove-item]': function(event){
      var item = this.getAttribute('data-wk-remove-item');
      fadeOrNot($(this), function() {
        Appmate.wk.removeItem(item);
      });
      event.preventDefault();
    },
    'click [data-wk-clear-wishlist]': function(event){
      var wishlist = this.getAttribute('data-wk-clear-wishlist');
      Appmate.wk.clear(wishlist);
      event.preventDefault();
    },
    'click [data-wk-share]': function(){
      var wishlist = this.getAttribute('data-wk-share');
      var service = this.getAttribute('data-wk-share-service');
      var shareUrl = Appmate.wk.createShareUrl(wishlist, service);
      window.open(
        shareUrl,
        'wishlist_share',
        'height=590, width=770, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no'
      );
    },
    'click [data-wk-move-to-cart]': function(event){
      var $elem = $(this);
      $form = $elem.parents('form');
      $elem.prop("disabled", true);

      var item = this.getAttribute('data-wk-move-to-cart');
      var formData = $form.serialize();

      fadeOrNot($elem, function(){
        // Version A: Stay in wishlist when done
        Appmate.wk
        .moveToCart(item, formData)
        .then(function(){
          window.scrollTo(0, 0);
          location.reload();
        });
        // Version B: Navigate to cart when done
        // Appmate.wk
        // .removeItem(item)
        // .then(function(){
        //   $form.submit();
        // });
      });
      event.preventDefault();
    },
    'render .wk-option-select': function(elem){
      appmateOptionSelect(elem);
    }
  });

  function fadeOrNot($elem, callback){
    if ($elem.parents('.wk-fadeout').length) {
      $elem.parents('.wk-fadeout').fadeOut(callback);
    }
    callback();
  }
})();

</script>



{% raw %}

<script id="wishlist-share-button-fb" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<button type="button" class="wk-button-share" title="Share on Facebook" data-wk-share-service="facebook" data-wk-share="{{ wishlist.permaId }}">
  <span class="wk-label">Share on Facebook</span>
</button>
{% endunless %}
</script>

<script id="wishlist-share-button-twitter" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<button type="button" class="wk-button-share" title="Share on Twitter" data-wk-share-service="twitter" data-wk-share="{{ wishlist.permaId }}">
  <span class="wk-label">Share on Twitter</span>
</button>
{% endunless %}
</script>

<script id="wishlist-share-button-pinterest" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<button type="button" class="wk-button-share" title="Share on Pinterest" data-wk-share-service="pinterest" data-wk-share="{{ wishlist.permaId }}">
  <span class="wk-label">Share on Pinterest</span>
</button>
{% endunless %}
</script>

<script id="wishlist-share-button-email" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<button type="button" class="wk-button-share" title="Share by email" data-wk-share-service="email" data-wk-share="{{ wishlist.permaId }}">
  <span class="wk-label">Share by email</span>
</button>
{% endunless %}
</script>

<script id="wishlist-link" data="wishlist" type="text/x-template" app="wishlist-king">
<a href="{{ wishlist.url }}" class="wk-link wk-{{ wishlist.state }}" title="View Wishlist"><span class="wk-label">Wishlist</span> <span class="wk-count">({{ wishlist.item_count }})</span></a>
</script>

<script id="wishlist-dropdown-li" data="wishlist" type="text/x-template" app="wishlist-king">
<li class="wk-dropdown-toggle wk-{{ wishlist.state }}">
  {% include 'wishlist-link' %}
  {% include 'wishlist-dropdown-box' %}
</li>
</script>

<script id="wishlist-dropdown-span" data="wishlist" type="text/x-template" app="wishlist-king">
<span class="wk-dropdown-toggle wk-{{ wishlist.state }}">
  {% include 'wishlist-link' %}
  {% include 'wishlist-dropdown-box' %}
</span>
</script>

<script id="wishlist-dropdown-box" data="wishlist" type="text/x-template" app="wishlist-king">
<div id="wk-dropdown-wrapper">
  <ul class="wk-dropdown">
    {% assign products = wishlist.products | reverse %}
    {% for product in products limit:5 %}
    <li class="wk-dropdown-item" data-wishlist-item="">
      <div class="wk-dropdown-thumb">
        <a href="{{ product.url }}" class="wk-variant-link" title="View product">
          <img src="{{ product | variant_img_url: 'medium' }}" alt="{{ product.title }}" class="wk-variant-image" />
        </a>
      </div>
      <div class="wk-dropdown-details">
        <p class="wk-dd-title">
          <a href="{{ product.url }}" class="wk-variant-link" title="View product">{{ product.title }}</a>
        </p>
        <p class="wk-dd-price">from {{ product.price_min | money }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% if wishlist.item_count > 0 %}
  <a class="wk-button-wishlist-view" href="{{ wishlist.url }}" title="View Wishlist">View Wishlist</a>
  {% else %}
  <span class="wk-button-wishlist-view">No items in your wishlist...</span>
  {% endif %}
</div>
</script>

<script id="wishlist-button-product" data="product" type="text/x-template" app="wishlist-king">
{% if product.in_wishlist %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-product' %}
{% else %}
  {% assign btn_text = 'Add to Wishlist' %}
  {% assign btn_title = 'Add to Wishlist' %}
  {% assign btn_action = 'wk-add-product' %}
{% endif %}

<button type="button" class="wk-button-product {{ btn_action }}" title="{{ btn_title }}" data-{{ btn_action }}="{{ product.id }}">
  <span class="wk-label"><span class="wk-label">{{ btn_text }}</span></span>
</button>
</script>

<script id="wishlist-button-collection" data="product" type="text/x-template" app="wishlist-king">
{% if product.in_wishlist %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-product' %}
{% else %}
  {% assign btn_text = 'Add to Wishlist' %}
  {% assign btn_title = 'Add to Wishlist' %}
  {% assign btn_action = 'wk-add-product' %}
{% endif %}

<button type="button" class="wk-button-collection {{ btn_action }}" title="{{ btn_title }}" data-{{ btn_action }}="{{ product.id }}">
  <span class="wk-label">{{ btn_text }}</span>
</button>
</script>

<script id="wishlist-button-wishlist-page" data="product" type="text/x-template" app="wishlist-king">
{% if wishlist.read_only %}
  {% assign item_id = product.id %}
{% else %}
  {% assign item_id = product.wishlist_item_id %}
{% endif %}

{% if product.in_wishlist and wishlist.read_only == true %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-product' %}
{% elsif product.in_wishlist and wishlist.read_only == false %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-item' %}
{% else %}
  {% assign btn_text = 'Add to Wishlist' %}
  {% assign btn_title = 'Add to Wishlist' %}
  {% assign btn_action = 'wk-add-product' %}
{% endif %}

<button type="button" class="wk-button-wishlist-page {{ btn_action }}" title="{{ btn_title }}" data-{{ btn_action }}="{{ item_id }}">
  <span class="wk-label">{{ btn_text }}</span>
</button>
</script>

<script id="wishlist-button-wishlist-clear" data="wishlist" type="text/x-template" app="wishlist-king">
{% assign btn_text = 'Clear Wishlist' %}
{% assign btn_title = 'Clear Wishlist' %}
{% assign btn_class = 'wk-button-wishlist-clear' %}

<button type="button" class="{{ btn_class }}" title="{{ btn_title }}" data-wk-clear-wishlist="{{ wishlist.permaId }}">
  <span class="wk-label">{{ btn_text }}</span>
</button>
</script>

<script id="wishlist-shared" data="shared_wishlist" type="text/x-template" app="wishlist-king">
{% assign wishlist = shared_wishlist %}
{% include 'wishlist-collection' with wishlist %}
</script>

<script id="wishlist-collection" data="wishlist" type="text/x-template" app="wishlist-king">
<div class='wishlist-collection'>
{% if wishlist.item_count == 0 %}
  {% include 'wishlist-collection-empty' %}
{% else %}
  {% if customer_accounts_enabled and customer == false and wishlist.read_only == false %}
    {% include 'wishlist-collection-login-note' %}
  {% endif %}
  {% include 'wishlist-collection-loop' %}
  {% unless wishlist.read_only %}
    {% include 'wishlist-button-wishlist-clear' %}
  {% endunless %}
{% endif %}
</div>
</script>

<script id="wishlist-collection-empty" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-row">
  <div class="wk-span12">
    <h3 class="wk-wishlist-empty-note">Your wishlist is empty!</h3>
  </div>
</div>
</script>

<script id="wishlist-collection-login-note" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-row">
  <p class="wk-span12 wk-login-note">
    To permanently save your wishlist please <a href="/account/login">login</a> or <a href="/account/register">sign up</a>.
  </p>
</div>
</script>

<script id="wishlist-collection-loop" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-row">
  {% for product in wishlist.products %}
    {% assign hide_default_title = false %}
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      {% assign hide_default_title = true %}
    {% endif %}

    {% assign items_per_row = 3 %}
    {% assign wk_item_width = 100 | devide_by: items_per_row %}

    <div class="wk-item-column" style="width: {{ wk_item_width }}%">
      <div id="wk-item-{{ product.wishlist_item_id }}" class="wk-item {{ wk_item_class }} {% unless wishlist.read_only %}wk-fadeout{% endunless %}" data-wk-item="{{ product.wishlist_item_id }}">

        {% include 'wishlist-collection-product-image' with product %}
        {% include 'wishlist-button-wishlist-page' with product %}
        {% include 'wishlist-collection-product-title' with product %}
        {% include 'wishlist-collection-product-price' %}
        {% include 'wishlist-collection-product-form' with product %}
      </div>
    </div>
  {% endfor %}
</div>
</script>

<script id="wishlist-collection-product-image" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-image">
  <a href="{{ product | variant_url }}" class="wk-variant-link wk-content" title="View product">
    <img class="wk-variant-image"
       src="{{ product | variant_img_url: 'large' }}"
       alt="{{ product.title }}" />
  </a>
</div>
</script>

<script id="wishlist-collection-product-title" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-product-title">
  <a href="{{ product | variant_url }}" class="wk-variant-link" title="View product"><strong>{{ product.title }}</strong></a>
</div>
</script>

<script id="wishlist-collection-product-price" data="wishlist" type="text/x-template" app="wishlist-king">
{% assign variant = product.selected_or_first_available_variant %}
<div class="wk-purchase">
  <span class="wk-price wk-price-preview">
    {% if variant.price < variant.compare_at_price %}
    <span class="saleprice">{{ variant.price | money }}</span> <del>{{ variant.compare_at_price | money }}</del>
    {% else %}
    {{ variant.price | money }}
    {% endif %}
  </span>
</div>
</script>

<script id="wishlist-collection-product-form" data="wishlist" type="text/x-template" app="wishlist-king">
<form id="wk-add-item-form-{{ product.wishlist_item_id }}" action="/cart/add" method="post" class="wk-add-item-form">

  <!-- Begin product options -->
  <div class="wk-product-options {% if hide_default_title %}wk-no-options{% endif %}">

    <div class="wk-select" {% if hide_default_title %} style="display:none"{% endif %}>
      <select id="wk-option-select-{{ product.wishlist_item_id }}" class="wk-option-select" name="id">

        {% for variant in product.variants %}
        <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
          {{ variant.title }} - {{ variant.price | money }}
        </option>
        {% endfor %}

      </select>
    </div>

    {% if settings.display_quantity_dropdown and product.available %}
    <div class="wk-selector-wrapper">
      <label>Quantity</label>
      <input class="wk-quantity" type="number" name="quantity" value="1" class="wk-item-quantity" />
    </div>
    {% endif %}

    <div class="wk-purchase-section{% if product.variants.size > 1 %} wk-multiple{% endif %}">
      {% unless product.available %}
      <input type="submit" class="wk-add-to-cart disabled" disabled="disabled" value="Sold Out" />
      {% else %}
        {% assign cart_action = 'wk-move-to-cart' %}
        {% if wishlist.read_only %}
          {% assign cart_action = 'wk-add-to-cart' %}
        {% endif %}
        <input type="submit" class="wk-add-to-cart" data-{{ cart_action }}="{{ product.wishlist_item_id }}" name="add" value="Add to cart" />
      {% endunless %}
    </div>
  </div>
  <!-- End product options -->
</form>
</script>



{% endraw %}


<script>
var appmateSelectCallback = function(variant, selector) {
  var shop = Appmate.wk.globals.shop;
  var product = Appmate.wk.getProduct(variant.product_id);
  var itemId = $(selector.variantIdField).parents('[data-wk-item]').attr('data-wk-item');
  var container = $('#wk-item-' + itemId);

  if (variant) {
    Appmate.wk.updateItem(itemId, {selected_variant_id: variant.id});
  }

  var imageUrl = '';

  if (variant && variant.image) {
    imageUrl = Appmate.wk.filters.img_url(variant, 'large');
  } else if (product) {
    imageUrl = Appmate.wk.filters.img_url(product, 'large');
  }

  if (imageUrl) {
    container.find('.wk-variant-image').attr('src', imageUrl);
  }
  var formatMoney = Appmate.wk.filters.money;
  if (variant && (variant.available || variant.inventory_policy === 'continue')) {
    container.find('.wk-add-to-cart').removeAttr('disabled').removeClass('disabled').attr('value', 'Add to cart');
    if(variant.price < variant.compare_at_price){
      container.find('.wk-price-preview').html(formatMoney(variant.price) + " <del>" + formatMoney(variant.compare_at_price) + "</del>");
    } else {
      container.find('.wk-price-preview').html(formatMoney(variant.price));
    }
  } else {
    container.find('.wk-add-to-cart').addClass('disabled').attr('disabled', 'disabled').attr('value', 'Sold Out');
    var message = variant ? "Sold Out" : "Unavailable";
    container.find('.wk-price-preview').text(message);
  }

};

function appmateOptionSelect(el){
  if (!Shopify || !Shopify.OptionSelectors) {
    throw new Error('Missing option_selection.js! Please check templates/page.wishlist.liquid');
  }

  var id = el.getAttribute('id');
  var itemId = $(el).parents('[data-wk-item]').attr('data-wk-item');

  Appmate.wk.getItem(itemId).then(function(product){
    var selector = new Shopify.OptionSelectors(id, {
      product: product,
      onVariantSelected: appmateSelectCallback,
      enableHistoryState: false
    });

    if (product.selected_variant_id) {
      selector.selectVariant(product.selected_variant_id);
    }

    // Add label if only one product option and it isn't 'Title'.
    if (product.options.size == 1 && product.options.first != 'Title') {
      $(containerId + ' .selector-wrapper:eq(0)').prepend('<label>' + product.options.first + '</label>');
    }
  });
}

</script>
